@using Basyc.Blazor.Controls.Interops;
@using Basyc.Diagnostics.Shared.Logging
@using Basyc.MessageBus.Manager.Application
@using Basyc.MessageBus.Manager.Application.ResultDiagnostics
@using Basyc.MessageBus.Manager.Presentation.BlazorLibrary.Components.DurationMap;
@using Basyc.Blazor.Controls.Colors;
@using Microsoft.Extensions.Logging;
@implements IHandleEvent;
@implements IDisposable;



<horizontalDurationMapView @ref=horizontalDurationMapViewRef>
    <zoomToolBar>
        @*<MudNumericField Format="N2" T="double" @bind-Value="PixelsPerMs" FullWidth="false" Step="10" Style="color: white;" />*@
        <button @onclick="@OnZoomInClick">+</button>
        <button @onclick="@OnZoomOutClick">-</button>
        <button @onclick="@OnZoomFitClick">fit</button>
    </zoomToolBar>
    <services id="@scrollId">
        @{
            if (RequestContext.Diagnostics.Services.Any())
            {
                foreach (var service in RequestContext.Diagnostics.Services.Where(x => x.Activities.Any()).OrderBy(x => x.Activities.Min(y => y.StartTime)))
                {
                    var serviceThemeColor = ServiceColorHelper.GetBackground(service.ServiceIdentity.ServiceName);

                    var nameColor = serviceThemeColor.Edit(opacity: 0.3);
                    var borderColor = serviceThemeColor.Edit(opacity: 0.25);
                    var backgroundColor = serviceThemeColor.Edit(opacity: 0.05);

                    var serviceFirstActivity = service.Activities.First();
                    var serviceStyle = $"background-color: {backgroundColor}";
                    var durationBoxesStyle = $"margin-left: {DurationViewHelper.GetCssDurationValue(RequestContext.StartTime, serviceFirstActivity.StartTime.AbsoluteTime, PixelsPerMs)};";
                    var serviceNameStyle = $"color: {nameColor}";
                    <service style="@serviceStyle">
                        <serviceNameContainer>
                            <serviceName style="@serviceNameStyle">
                                @service.ServiceIdentity.ServiceName
                            </serviceName>
                        </serviceNameContainer>
                        <durationBoxes style="@durationBoxesStyle">
                            @{
                                ActivityContext? previousActivity = null;
                                foreach (var activity in service.Activities)
                                {
                                    <unknownAndKnowGroup>
                                        @{
                                            var leftMargin = previousActivity == null ? "0px" : DurationViewHelper.GetCssDurationValue(serviceFirstActivity.StartTime.Value, activity.StartTime.Value, PixelsPerMs);
                                            <div style="display: flex; margin-left:@leftMargin;">
                                                @{
                                                    <HorizontalDurationBoxView DurationMapRenderContext="durationMapRenderContext" Activity="activity" Color="@serviceThemeColor" NestingLevel="0" />
                                                    previousActivity = activity;
                                                }
                                            </div>
                                        }
                                    </unknownAndKnowGroup>
                                }
                            }
                        </durationBoxes>
                    </service>
                    <br>
                }
            }
        }
    </services>
</horizontalDurationMapView>

@code {
    private bool isRendered = false;

    private ElementReference horizontalDurationMapViewRef;
    private bool pixelsMsChangedInternally = false;
    private DurationMapRenderContext durationMapRenderContext = new();
    [Inject] private BusManagerJsInterop BusManagerJsInterop { get; set; } = null!;
    [Inject] private ScrollJsInterop ScrollJsInterop { get; set; } = null!;
    [Inject] public ElementJsInterop ElementJsInterop { get; init; } = null!;
    [Inject] private ILogger<HorizontalDurationMapView> Logger { get; init; } = null!;

    private PeriodicTimer? fastTimer;
    private bool zoomManuallyChanged;


    [Parameter]
    [EditorRequired]
    public MessageRequest RequestContext { get; set; } = null!;

    [Parameter]
    public double PixelsPerMs { get; set; } = 1;

#pragma warning disable CA5394
    private string scrollId = Random.Shared.Next().ToString();
#pragma warning restore CA5394

    protected override void OnInitialized()
    {
        durationMapRenderContext.FastTimer += async (s, a) =>
        {
            if (zoomManuallyChanged is false)
                await ZoomFit();
        };
        base.OnInitialized();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        Logger.LogDebug("OnAfterRenderAsync");
        ScrollJsInterop.AddDragToScroll(scrollId);
        if(PixelsPerMs != durationMapRenderContext.PixelsPerMs)
        {
            durationMapRenderContext.PixelsPerMs = PixelsPerMs;
            await ElementJsInterop.SetCssVariable(horizontalDurationMapViewRef, DurationMapConstants.PixelsPerMs, PixelsPerMs.ToString());
        }
        StartTimer();
        await base.OnAfterRenderAsync(firstRender);
        isRendered = true;
    }

    protected override void OnParametersSet()
    {
        Logger.LogDebug("OnParametersSet");
        isRendered = false;
        StopTimer();
        RequestContext.Diagnostics.ActivityStartAdded -= OnActivityStartAdded;
        RequestContext.Diagnostics.ActivityStartAdded += OnActivityStartAdded;
        RequestContext.Diagnostics.ActivityEndAdded -= OnActivityEneAdded;
        RequestContext.Diagnostics.ActivityEndAdded += OnActivityEneAdded;
        base.OnParametersSet();
    }

    protected override bool ShouldRender()
    {
        if (pixelsMsChangedInternally)
            return false;
        return base.ShouldRender();
    }

    public void Dispose()
    {
        Logger.LogDebug("Dispose");

        isRendered = false;
        RequestContext.Diagnostics.ActivityStartAdded -= OnActivityStartAdded;
        RequestContext.Diagnostics.ActivityEndAdded -= OnActivityEneAdded;
        StopTimer();
    }

    Task IHandleEvent.HandleEventAsync(
    EventCallbackWorkItem callback, object? arg) => callback.InvokeAsync(arg);

    private void OnActivityStartAdded(object? sender, ActivityStart activityStart) => StateHasChanged();

    private void OnActivityEneAdded(object? sender, ActivityEnd activityEnd) => StateHasChanged();

    private async Task OnZoomInClick(MouseEventArgs args)
    {
        zoomManuallyChanged = true;
        pixelsMsChangedInternally = true;
        PixelsPerMs += 0.1 * PixelsPerMs * 3;
        durationMapRenderContext.PixelsPerMs = PixelsPerMs;
        pixelsMsChangedInternally = false;
        await ElementJsInterop.SetCssVariable(horizontalDurationMapViewRef, DurationMapConstants.PixelsPerMs, PixelsPerMs.ToString());

    }

    private async Task OnZoomOutClick(MouseEventArgs args)
    {
        zoomManuallyChanged = true;
        pixelsMsChangedInternally = true;

        PixelsPerMs -= 0.1 * PixelsPerMs * 3;
        if (PixelsPerMs < 0)
            PixelsPerMs = 0;
        durationMapRenderContext.PixelsPerMs = PixelsPerMs;
        pixelsMsChangedInternally = false;

        await ElementJsInterop.SetCssVariable(horizontalDurationMapViewRef, DurationMapConstants.PixelsPerMs, PixelsPerMs.ToString());

    }

    private async Task OnZoomFitClick(MouseEventArgs args)
    {
        zoomManuallyChanged = false;
        await ZoomFit();
    }

    private async Task ZoomFit()
    {
        double aviableWidthPx = 1000; //this can be dynamic value obtained from js
        DurationViewHelper.GetCssDurationValue(GetLatestEndTime(RequestContext.Diagnostics) - RequestContext.StartTime, 1, out var normalWidthPx);
        var newPixelsPerMs = aviableWidthPx / normalWidthPx;
        if (newPixelsPerMs != PixelsPerMs)
        {
            pixelsMsChangedInternally = true;
            PixelsPerMs = newPixelsPerMs;
            durationMapRenderContext.PixelsPerMs = PixelsPerMs;
            pixelsMsChangedInternally = false;


            if (isRendered is false)
                return;
            await ElementJsInterop.SetCssVariable(horizontalDurationMapViewRef, "pixelsPerMs", PixelsPerMs.ToString());
        }
    }

    private static DateTimeOffset GetLatestEndTime(MessageDiagnostic requestDiagnostic)
    {
        static DateTimeOffset GetLatestEndTimeFromActivity(ActivityContext activity)
        {
            if (activity.Status == System.Diagnostics.ActivityStatusCode.Unset)
                return DateTimeOffset.UtcNow;

            var latestEndTime = activity.EndTime;
            foreach (var nestedActivity in activity.NestedActivities)
            {

                var nestedLatestEndTime = GetLatestEndTimeFromActivity(nestedActivity).GetDiagnosticTime(latestEndTime.BaseTime);
                latestEndTime = latestEndTime.Value > nestedLatestEndTime.Value ? latestEndTime : nestedLatestEndTime;
            }
            return latestEndTime.AbsoluteTime;
        }

        DateTimeOffset latestEndTime = default;
        foreach (var service in requestDiagnostic.Services)
        {
            foreach (var activity in service.Activities)
            {
                foreach (var nestedActivity in activity.NestedActivities)
                {
                    var nestedLatestEndTime = GetLatestEndTimeFromActivity(nestedActivity);
                    latestEndTime = latestEndTime > nestedLatestEndTime ? latestEndTime : nestedLatestEndTime;
                }
            }
        }

        return latestEndTime;
    }

    private async void StartTimer()
    {
        Logger.LogDebug("StartTimer");
        durationMapRenderContext.OnFastTimer();

        if (fastTimer is not null)
            StopTimer();

        fastTimer = new PeriodicTimer(TimeSpan.FromSeconds(0.5));

        while (await fastTimer.WaitForNextTickAsync())
        {
            if (isRendered is false)
                continue;
            durationMapRenderContext.OnFastTimer();
        }
    }

    private void StopTimer()
    {
        Logger.LogDebug("StopTimer");

        fastTimer?.Dispose();
        fastTimer = null;
    }
}
