@using Basyc.Blazor.Controls.Interops;
@using Basyc.Diagnostics.Shared.Logging
@using Basyc.MessageBus.Manager.Application
@using Basyc.MessageBus.Manager.Application.ResultDiagnostics
@using Basyc.MessageBus.Manager.Presentation.BlazorLibrary.Components.DurationMap;
@using Basyc.MessageBus.Manager.Presentation.BlazorLibrary.Shared.Helpers.Colors
<horizontalDurationMapView>
    <zoomToolBar>
        @*<MudNumericField Format="N2" T="double" @bind-Value="PixelsPerMs" FullWidth="false" Step="10" Style="color: white;" />*@
        <button @onclick="@OnZoomInClick">+</button>
        <button @onclick="@OnZoomOutClick">-</button>
        <button @onclick="@OnZoomFitClick">fit</button>
    </zoomToolBar>
    <services id="@scrollId">
        @{
            if (RequestContext.Diagnostics.Services.Any())
            {
                foreach (var service in RequestContext.Diagnostics.Services.Where(x => x.Activities.Any()).OrderBy(x => x.Activities.Min(y => y.StartTime)))
                {
                    var serviceThemeColor = ServiceColorHelper.GetBackground(service.ServiceIdentity.ServiceName);

                    var nameColor = serviceThemeColor.Edit(opacity: 0.3);
                    var borderColor = serviceThemeColor.Edit(opacity: 0.25);
                    var backgroundColor = serviceThemeColor.Edit(opacity: 0.05);

                    var serviceFirstActivity = service.Activities.First();
                    //var serviceStyle = $"margin-left: {DurationViewHelper.GetCssDurationValue(RequestContext.StartTime, serviceFirstActivity.StartTime, PixelsPerMs)}; background-color: {backgroundColor}";
                    var serviceStyle = $"background-color: {backgroundColor}";
                    var durationBoxesStyle = $"margin-left: {DurationViewHelper.GetCssDurationValue(RequestContext.StartTime, serviceFirstActivity.StartTime.AbsoluteTime, PixelsPerMs)};";
                    var serviceNameStyle = $"color: {nameColor}";
                    <service style="@serviceStyle">
                        <serviceNameContainer>
                            <serviceName style="@serviceNameStyle">
                                @service.ServiceIdentity.ServiceName
                            </serviceName>
                        </serviceNameContainer>
                        <durationBoxes style="@durationBoxesStyle">
                            @{
                                ActivityContext? previousActivity = null;
                                foreach (var activity in service.Activities)
                                {
                                    <unknownAndKnowGroup>
                                        @{
                                            var leftMargin = previousActivity == null ? "0px" : DurationViewHelper.GetCssDurationValue(serviceFirstActivity.StartTime.Value, activity.StartTime.Value, PixelsPerMs);
                                            <div style="display: flex; margin-left:@leftMargin;">
                                                @{
                                                    <HorizontalDurationBoxView Activity="activity" PixelsPerMs="PixelsPerMs" Color="@serviceThemeColor" NestingLevel="0" />
                                                    previousActivity = activity;
                                                }
                                            </div>
                                        }
                                    </unknownAndKnowGroup>
                                }
                            }
                        </durationBoxes>
                    </service>
                    <br>
                }
            }
        }
    </services>



</horizontalDurationMapView>

@code {
    [Inject] private BusManagerJsInterop BusManagerJsInterop { get; set; } = null!;
    [Inject] private ScrollJsInterop ScrollJsInterop { get; set; } = null!;
    private readonly PeriodicTimer zoomFitTimer = new PeriodicTimer(TimeSpan.FromSeconds(0.5));
    private bool zoomManuallyChanged;


    [Parameter]
    [EditorRequired]
    public MessageRequest RequestContext { get; set; } = null!;

    [Parameter]
    public double PixelsPerMs { get; set; } = 1;

#pragma warning disable CA5394
    private string scrollId = Random.Shared.Next().ToString();
#pragma warning restore CA5394


    protected override void OnInitialized()
    {
        StartTimer();
        base.OnInitialized();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        ScrollJsInterop.AddDragToScroll(scrollId);
    }

    protected override void OnParametersSet()
    {
        RequestContext.Diagnostics.ActivityStartAdded -= OnActivityStartAdded;
        RequestContext.Diagnostics.ActivityStartAdded += OnActivityStartAdded;
        RequestContext.Diagnostics.ActivityEndAdded -= OnActivityEneAdded;
        RequestContext.Diagnostics.ActivityEndAdded += OnActivityEneAdded;
        ZoomFit();
        base.OnParametersSet();
    }

    private void OnActivityStartAdded(object? sender, ActivityStart activityStart) => StateHasChanged();

    private void OnActivityEneAdded(object? sender, ActivityEnd activityEnd) => StateHasChanged();

    private void OnZoomInClick(MouseEventArgs args)
    {
        zoomManuallyChanged = true;
        PixelsPerMs += 0.1 * PixelsPerMs * 3;
    }

    private void OnZoomOutClick(MouseEventArgs args)
    {
        zoomManuallyChanged = true;
        PixelsPerMs -= 0.1 * PixelsPerMs * 3;
        if (PixelsPerMs < 0)
            PixelsPerMs = 0;
    }

    private void OnZoomFitClick(MouseEventArgs args)
    {
        zoomManuallyChanged = false;
        ZoomFit();
    }

    private void ZoomFit()
    {
        double aviableWidthPx = 1000; //this can be dynamic value obtained from js
        DurationViewHelper.GetCssDurationValue(GetLatestEndTime(RequestContext.Diagnostics) - RequestContext.StartTime, 1, out var normalWidthPx);
        var newPixelsPerMs = aviableWidthPx / normalWidthPx;
        if (newPixelsPerMs != PixelsPerMs)
        {
            PixelsPerMs = newPixelsPerMs;
            StateHasChanged();
        }
    }

    private static DateTimeOffset GetLatestEndTime(MessageDiagnostic requestDiagnostic)
    {
        static DateTimeOffset GetLatestEndTimeFromActivity(ActivityContext activity)
        {
            if (activity.Status == System.Diagnostics.ActivityStatusCode.Unset)
                return DateTimeOffset.UtcNow;

            var latestEndTime = activity.EndTime;
            foreach (var nestedActivity in activity.NestedActivities)
            {

                var nestedLatestEndTime = GetLatestEndTimeFromActivity(nestedActivity).GetDiagnosticTime(latestEndTime.BaseTime);
                latestEndTime = latestEndTime.Value > nestedLatestEndTime.Value ? latestEndTime : nestedLatestEndTime;
            }
            return latestEndTime.AbsoluteTime;
        }

        DateTimeOffset latestEndTime = default;
        foreach (var service in requestDiagnostic.Services)
        {
            foreach (var activity in service.Activities)
            {
                foreach (var nestedActivity in activity.NestedActivities)
                {
                    var nestedLatestEndTime = GetLatestEndTimeFromActivity(nestedActivity);
                    latestEndTime = latestEndTime > nestedLatestEndTime ? latestEndTime : nestedLatestEndTime;
                }
            }
        }

        return latestEndTime;
    }

    private async void StartTimer()
    {
        while (await zoomFitTimer.WaitForNextTickAsync())
        {
            if (zoomManuallyChanged is false)
                ZoomFit();

        }
    }
}
