@using Basyc.Diagnostics.Shared;
@using Basyc.Diagnostics.Shared.Durations
@using Basyc.Diagnostics.Shared.Logging;
@using Basyc.MessageBus.Manager.Application.ResultDiagnostics;
@using Basyc.MessageBus.Manager.Presentation.BlazorLibrary.Components.LogIcon
@using Basyc.MessageBus.Manager.Presentation.BlazorLibrary.Shared.Helpers.Html
@using Microsoft.Extensions.Logging;
@using ReactiveUI;
@inherits BasycReactiveBlazorComponentBase<DurationBoxToolTipViewModel>

<durationBoxToolTipView>
    <BasycSpaceBorder Size="SpacerSize.Medium" StretchHeight="true">
        <layout>
            <activityName>
                <BasycHeading Size="HeadingSize.H3">
                    @Name
                </BasycHeading>
            </activityName>
            <BasycSpaceLine Start="SpaceLineSize.Medium" Visible="false" />
            <infoItems>
                <infoItem>
                    <div>
                        state
                    </div>
                    <div>
                        @ActivityContext.Status.ToString()
                    </div>
                </infoItem>
                <infoItem>
                    <div>
                        started
                    </div>
                    <div>
                        @Html.Time(StartTime)
                    </div>
                </infoItem>
                <infoItem>
                    <div>
                        lasted
                    </div>
                    <div>
                        @Html.Time(Duration)
                    </div>
                </infoItem>
            </infoItems>
            <BasycSpaceLine Start="SpaceLineSize.Medium" Visible="false" />
            <BasycHeading Size="HeadingSize.H4">
                <logHeading>
                    Logs
                    <BasycSpaceLine Start="SpaceLineSize.Medium" Direction="SpaceLineDirection.Vertical" Visible="false" />
                    <LogIconView LogLevel="LogLevel.Information" />
                    @LogsInformationCount
                    <BasycSpaceLine Start="SpaceLineSize.Small" End="SpaceLineSize.Small" Visible="false" Direction="SpaceLineDirection.Vertical" />
                    <LogIconView LogLevel="LogLevel.Warning" />
                    @LogsWarningCount
                    <BasycSpaceLine Start="SpaceLineSize.Small" End="SpaceLineSize.Small" Visible="false" Direction="SpaceLineDirection.Vertical" />
                    <LogIconView LogLevel="LogLevel.Error" />
                    @LogsErrorCount
                </logHeading>
            </BasycHeading>
            <logs>

                <BasycList Items="@ActivityContext.Logs" Context="log">
                    <ItemTemplate>
                        <log>
                            <BasycSpaceBorder Size="SpacerSize.Small">
                                <logLayout>
                                    <LogIconView LogLevel="log.LogLevel" />
                                    <BasycSpaceLine Direction="SpaceLineDirection.Vertical" Start="SpaceLineSize.Small" Visible="false" />
                                    @log.Time.ToString("HH:mm:ss:fff")
                                    <BasycSpaceLine Direction="SpaceLineDirection.Vertical" Start="SpaceLineSize.Small" Visible="false"/>
                                    @log.Message
                                </logLayout>
                            </BasycSpaceBorder>
                        </log>
                    </ItemTemplate>
                </BasycList>
            </logs>
        </layout>
    </BasycSpaceBorder>
</durationBoxToolTipView>

@code {

    [Parameter, EditorRequired]
    public string? Name { get; set; }

    [Parameter, EditorRequired]
    public DateTimeOffset StartTime { get; set; }

    [Parameter, EditorRequired]
    public TimeSpan Duration { get; set; }

    [Parameter, EditorRequired]
    public ServiceIdentity Service { get; set; }

    [Parameter, EditorRequired]
    public ActivityContext ActivityContext { get; set; } = null!;

    public int LogsInformationCount => ActivityContext.Logs.Where(x => x.LogLevel == LogLevel.Information).Count();
    public int LogsWarningCount { get; init; }
    public int LogsErrorCount { get; init; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }

    public DurationBoxToolTip()
    {

    }
}
